html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-image: url(../img/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(1, 1, 56);
    background-position: center;
}

.parrafos {       
    font-size: 1.6rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.titulos {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: darkblue;
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.conteiner {
    margin: 0 auto;
    background-color: white;
    max-height: 200rem;
    max-width: 90rem;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    text-align: center;   
}
.preparacion {  
    height: 15rem;
}
.video {
    margin-bottom: 2rem;
}